//border-radius
.border-radius-1{
    border-radius: 16px;
}
.border-radius-2{
  border-radius: 30px;
}
.w345{
  width: 345px;
}

//input
.input-p-1{
  padding: 8px 0px 8px 16px;
}
//margin
.mt-30{
  margin-top: 30px;
}
.mt-40{
  margin-top: 40px;
}
.my-64{
  margin-top: 64px;
  margin-bottom: 64px;
}

//padding
.py-40{
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-45{
  padding-top: 45px;
  padding-bottom: 45px;
}
.py-64{
  padding-top: 64px;
  padding-bottom: 64px;
}
.pt-40{
  padding-top: 40px;
}
.pb-64{
  padding-bottom: 64px;
}

//position
.top-60{
  top: 60%;
}

@include media-breakpoint-down(md) {

  .top-md-50{
    top: 50%;
  }

}