//border-radius
.border-radius-1{
    padding: 8px 16px;
    border-radius: 16px;
}
.border-radius-2{
  border-radius: 30px;
}
//input
.input-p-1{
  padding: 8px 0px 8px 16px;
}
//margin
.mt-30{
  margin-top: 30px;
}
.mt-40{
  margin-top: 40px;
}
.my-64{
  margin-top: 64px;
  margin-bottom: 64px;
}

//padding
.py-45{
  padding-top: 45px;
  padding-bottom: 45px;
}
.py-64{
  padding-top: 64px;
  padding-bottom: 64px;
}
.pb-64{
  margin-bottom: 64px;
}
//position
.top-80{
top: 60%;
}