  .yoga-img-item{
    width: 350px;
    height: 420px;
}
.benefit-img{
    width: 350px;
    height: 444px;
}
.benefit-small-img{
    width: 160px;
    height: 207px;
}
.img-150{
    width: 150px;
    height: 150px;
}

.card-img-top{
    width: 100%;
    height: 243px;
}
.img-445{
    width: 445px;
    height: 445px;
}
@include media-breakpoint-down(md) { 
    .yoga-img-item-md{
        width: 210px;
        height: 252px;
    }
    .benefit-img-md{
        width: 210px;
        height: 266px;
    }

    .benefit-small-img-md{
        width: 90px;
        height: 117px;
    }


}